html,body{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: rgb(238, 238, 238);
	width: 550px;
	margin:0 auto;
	font-weight: 1.4em;
}

.todosapp{
    background-color: white;
    padding: 10px;
	border-radius: 0 0 5px 5px;
	border: 1px solid #DDD;
	box-shadow:  rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}
.todosapp h1{
	text-align: center;
}